<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:insert="~{/fragments/head}"></th:block>
<body>
<th:block th:insert="~{/fragments/navigation}"></th:block>
<th:block th:insert="~{/fragments/header}"></th:block>
<main>
    <h2>Add Book</h2>
    <form th:action="@{/books/add}" th:method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="98a0de7e-e307-41ee-834c-21b6875af8b8"/>

        <label for="book-name">Name</label>
        <input id="book-name" type="text" placeholder="Enter Book Name" required name="name" minlength="6"/>

        <label for="book-description">Description</label>
        <textarea id="book-description" type="text" rows="6" placeholder="Enter Book Description" required
                  name="description" minlength="10"></textarea>

        <label for="book-price">Price</label>
        <input id="book-price" type="number" placeholder="Enter Book Price" required name="price" min="1"/>

        <label for="book-category">Category</label>
        <select multiple="" id="book-category" name="categories" required="required">
            <option selected="" disabled="">Select Category</option>
        </select>
        <input type="submit" value="Add Book"/>
    </form>
</main>
<th:block th:insert="~{/fragments/footer}"></th:block>
<script>
    fetch('/categories/fetch')
        .then((response) => {
             console.log(response)
           return response.json()}
        )
        .then((json) => {
            console.log(json)
            json.forEach((category) => $('#book-category')
                .append(`<option value="${category.id}">${category.name}</option>`));
        })
        .catch((err) => console.log(err));
</script>
</body>
</html>
