<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:insert="~{/fragments/head}"></th:block>
<body>
<th:block th:insert="~{/fragments/navigation}"></th:block>
<th:block th:insert="~{/fragments/header}"></th:block>
<main>
    <div class="header-img"></div>
    <h2>Edit Book</h2>
    <form th:action="@{/books/edit/{id}(id=${book.id})}" th:method="POST" >
        <input type="hidden" name="_csrf" value="98a0de7e-e307-41ee-834c-21b6875af8b8"/>

        <label for="book-name">Name</label>
        <input id="book-name" type="text" placeholder="Enter Book Name" name="name" th:value="${book.name}" required="required" minlength="6"/>

        <label for="book-description">Description</label>
        <textarea id="book-description" type="text" rows="6" placeholder="Enter Book Description" name="description"
                  th:utext="${book.description}" required="required" minlength="10"></textarea>

        <label for="book-price">Price</label>
        <input id="book-price" type="number" placeholder="Enter Book Price" name="price" th:value="${book.getPrice()}" required="required" min="1"/>

        <label for="book-categories">Category</label>
        <select multiple="" id="book-categories" name="categories" required="required">
            <option th:each="category : ${book.categories}" th:text="${category.name}" th:value="${category.name}" ></option>
        </select>
        <input type="submit" value="Edit Book"/>
    </form>
</main>
<th:block th:insert="~{/fragments/footer}"></th:block>
</body>
<script th:inline="javascript">
    fetch('/categories/fetch')
        .then((response) => {
            return response.json()
        })
        .then((json) => {
            let categories = [[${book.categories}]];
            console.log(categories);
            json.forEach((category) =>
                $('#book-categories').append(
                    categories.includes(category.name)
                        ? `<option value="${category.id}" selected>${category.name}</option>`
                        : `<option value="${category.id}">${category.name}</option>`));
        })
        .catch((err) => console.log(err));
</script>
</html>