<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:insert="~{/fragments/head}"></th:block>
<body>
<th:block th:insert="~{/fragments/navigation}"></th:block>
<th:block th:insert="~{/fragments/header}"></th:block>
<main>
    <div class="header-img"></div>
    <h2>News</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th class="row-buttons"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="news, i : ${news}">
            <tr>
                <td th:text="${news.name}"></td>
                <td>
                    <th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <a th:href="@{/news/details/{id}(id=${news.id})}" class="link-gray-btn">Details</a>
                        </th:block>
                    </th:block>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</main>
<th:block th:insert="~{/fragments/footer}"></th:block>
</body>
</html>